*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header-content{
    height: 60px;
    width: 100%;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 999;
}

.main-content{
    min-height: calc( 100vh - 60px );
    width: 100%;
    display: flex;
}

.secciones{
    display: block;
    flex-direction: column;
    width: calc( 100% - 200px );
    overflow-y: scroll;
    height: calc( 100vh - 60px );
}

.navbar{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(241, 221, 250);
}

.titulo-container{
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

.titulo-container h1{
    margin-left: 10px;
}

.titulo-container button{
    margin-right: 10px;
    padding: 5px;
}

.botones-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.botones-item{
    width: 80%;
    height: 40px;
    border: none;
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer; 
}

.botones-item:active{
    transform: scale(0.95);
}

.reset{
    background-color: lightcoral;
}

.opcionales{
    background-color: lightsalmon;
}

.area{
    background-color: lightcyan;
}

.no-br{
    border-right: none;
}

.activo{
    background-color: lightskyblue;
}

.container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid gray;
    background-color: beige;
    text-align: center;
    padding: 10px;
    min-height: calc( ( 100vh - 60px ) / 10 );
    height: fit-content;
    justify-content: space-around;
}

.section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.no-bt{
    border-top: none;
}

.section button{
    padding: 5px 15px 5px 15px;
    height: 30px;
    width: fit-content;
    background-color: gray;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
    margin: 10px;
}

.section button:hover{
transform: scale(1.05);
}

.section button:active{
    transform: scale(0.95);
}

.indicarPrevias{
    color: gray;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: none;
}

.tituloSeccion{
    text-decoration: underline;
}

.section-calculadora{
    position: sticky;
    bottom: 0;
}

.checkbox{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.label{
    margin-right: 10px;
}

.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


#boxPopup {
    display: none; 
    position: fixed; 
    z-index: 11; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}    

#boxPopup-content{
    z-index: 11;
    height: fit-content;
    width: fit-content;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    text-wrap: wrap;
}

#popup-text{
    padding: 5px;
}

#cerrar-popup{
    padding: 10px;
    border: none;
    margin-top: 25px;
    background-color: lightpink;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
}

#cerrar-popup:focus {
    border: 2px solid black;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 230px;
    margin: 10px;
}

.bloque-gris{
    height: 20px;
    width: 20px;
    background-color: gray;
    margin: 0px 10px 0 10px;
}
.bloque-rojo{
    height: 20px;
    width: 20px;
    background-color: lightcoral;
    margin: 0px 10px 0 10px;
}
.bloque-azul{
    height: 20px;
    width: 20px;
    background-color: lightblue;
    margin: 0px 10px 0 10px;
}
.bloque-verde{
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    margin: 0px 10px 0 10px;
}

@media (max-width: 675px) {
    .section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: fit-content;
    }
    .section button{
        margin: 10px 0 10px 0;
        width: 95%;
    }
    .header-content h1{
        font-size: 17px;
    }
    .botones-top-item{
        font-size: 12px;
    }
    .main-content{
        flex-direction: column;
    }
    .navbar{
        width: 100%;
        position: sticky;
        top: 60px;
        z-index: 10;
    }
    .secciones{
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }
    .main-content{
        background-color: beige;
    }
    .botones-top button{
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    .botones-top button:active{
        transform: none;
    }
    .area{
        background-color: rgb(241, 221, 250);
    }
    #boxPopup-content{
        max-width: 90%;
    }
    .info{
        border: 1px solid gray;
        margin: 10px;
        border-radius: 10px;
        justify-content: start;
    }
    .bloque-gris{
        margin: 10px;
    }
    .bloque-rojo{
        margin: 10px;
    }
    .bloque-azul{
        margin: 10px;
    }
    .bloque-verde{
        margin: 10px;
    }
  }